h1 {
    text-align: center;
}

body {
    /*background-color:*/
}

.add-and-submit {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.clear-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2%;
    padding: 2% 0 2% 0;
}

.task-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.task-list {
    width: 25%;
}

.task-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted black;
}

.btn-container {
    display: flex;
    align-items: center;
}

.show-container {
    visibility: visible;
}

/*
.template {
    display: none;
}
*/

.highlight-edit {
    background-color: rgb(253, 253, 135);
}

.finish-edit {
    background-color: transparent;
}

.strike-through {
    text-decoration: line-through;
}